/*
 * Globals
 */

@font-face
{
    font-family: Souses;
    src: url("fonts/souses.ttf");
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  color: #000000;
  font-face: EyeSite-503;
} 
.header
{
   text-align: center;
}
.panel-body
{
    background:#eeeeee;
    font-size: 1.5em;
}
.h1
{
    font-size: 2em;
}