/*
 * Globals
 */

@font-face
{
    font-family: 'Souses';
    src: url('fonts/souses.ttf');
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    overflow-x: hidden;
}
body {
    padding-top: 100px;
    color: #000000;
    background-image: url("/img/pattern-abwj.png");
	background-repeat: repeat;
    padding-bottom: 100px;
}
.header
{
    margin: auto auto auto auto;
    text-align: center;
}
.panel-body
{
    border: 0px;
    background: rgba(37, 15, 20, 0.35);
    font-size: 1.5em;
    color: #eee;
}
.h1
{
    font-size: 2em;
}
.bottom-text-padding
{
    color: #999;
    padding-top: 15px;
    padding-bottom: 0px;
}
.bottom-text-padding a:hover
{
    color: #fff;
}
.navbar-brand
{
    font-family: 'Souses';
    font-face: 'Souses';
}
.eyesite-color
{
    font-size: 1.5em;
    color: #684AD9;
}
.navbar-inverse
{
    background-color:#4c1832;
    border-bottom : 0px;
    border-top: 0px;
}
.carousel-control, .carousel-control a:hover, .carousel-control .left, .carousel-control .right
{
    background-color: rgba(0, 0, 0, 0);
}
.carousel-control.right
{
    display:inline-block;
    left: auto;
    right: 0;
}
.navbar-inverse .navbar-nav>li>a
{
    color: #337ab7;
    font-size: 1.25em;
}
.col-xs-12, .col-md-6
{
    padding: 10px 10px 10px 10px;
}
.xl
{
    font-size: 1.5em;
    font-weight:700;
}
.bk, .header a:hover
{
    color: #000;
}
.btn {
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3em;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}
.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
    background-color:#000;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
    background-color:#000;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
    background-color: #000;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
    background-color: #000;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}
.left{
    text-align: left;
}
.navbar-fixed-bottom
{
    text-align: center;
}
.navtop
{
    font-size: 1.7em;
    font-weight: 775;
}