/*
 * Globals
 */

@font-face
{
    font-family: Souses;
    src: url("fonts/souses.ttf");
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    overflow-y: hidden;
}
body {
    color: #000000;
    padding-bottom: 70px;
} 
.header
{
    text-align: center;
}
.panel-body
{
    background:#eeeeee;
    font-size: 1.5em;
}
.h1
{
    font-size: 2em;
}
.navbar-fixed-bottom
{
    text-align: center;
}
.bottom-text-padding
{
    color: #999;
    padding-top: 15px;
    padding-bottom: 0px;
}
.bottom-text-padding a:hover
{
    color: #fff;
}