:101
{
	font-family: Eyesite-101
}
:102
{
	font-family: Eyesite-102
}
:103
{
	font-family: Eyesite-103
}
:104
{
	font-family: Eyesite-104
}
:105
{
	font-family: Eyesite-105
}
:106
{
	font-family: Eyesite-106
}
:201
{
	font-family: Eyesite-201
}
:202
{
	font-family: Eyesite-202
}
:203
{
	font-family: Eyesite-203
}
:204
{
	font-family: Eyesite-204
}
:205
{
	font-family: Eyesite-205
}
:206
{
	font-family: Eyesite-206
}
:301
{
	font-family: Eyesite-301
}
:302
{
	font-family: Eyesite-302
}
:303
{
	font-family: Eyesite-303
}
:304
{
	font-family: Eyesite-304
}
:305
{
	font-family: Eyesite-305
}
:306
{
	font-family: Eyesite-306
}
:401
{
	font-family: Eyesite-401
}
:402
{
	font-family: Eyesite-402
}
:403
{
	font-family: Eyesite-403
}
:404
{
	font-family: Eyesite-404
}
:405
{
	font-family: Eyesite-405
}
:406
{
	font-family: Eyesite-406
}
:501
{
	font-family: Eyesite-501
}
:502
{
	font-family: Eyesite-502
}
:503
{
	font-family: Eyesite-503
}
:504
{
	font-family: Eyesite-504
}
:505
{
	font-family: Eyesite-505
}
:506
{
	font-family: Eyesite-506
}
:601
{
	font-family: Eyesite-601
}
:602
{
	font-family: Eyesite-602
}
:603
{
	font-family: Eyesite-603
}
:604
{
	font-family: Eyesite-604
}
:605
{
	font-family: Eyesite-605
}
:606
{
	font-family: Eyesite-606
}
:701
{
	font-family: Eyesite-701
}
:702
{
	font-family: Eyesite-702
}
:703
{
	font-family: Eyesite-703
}
:704
{
	font-family: Eyesite-704
}
:705
{
	font-family: Eyesite-705
}
:706
{
	font-family: Eyesite-706
}
:801
{
	font-family: Eyesite-801
}
:802
{
	font-family: Eyesite-802
}
:803
{
	font-family: Eyesite-803
}
:804
{
	font-family: Eyesite-804
}
:805
{
	font-family: Eyesite-805
}
:806
{
	font-family: Eyesite-806
}
:901
{
	font-family: Eyesite-901
}
:902
{
	font-family: Eyesite-902
}
:903
{
	font-family: Eyesite-903
}
:904
{
	font-family: Eyesite-904
}
:905
{
	font-family: Eyesite-905
}
:906
{
	font-family: Eyesite-906
}
:1001
{
	font-family: Eyesite-1001
}
:1002
{
	font-family: Eyesite-1002
}
:1003
{
	font-family: Eyesite-1003
}
:1004
{
	font-family: Eyesite-1004
}
:1005
{
	font-family: Eyesite-1005
}
:1006
{
	font-family: Eyesite-1006
}


