[class="101"]
{
	font-family: EyeSite101;
}
[class="102"]
{
	font-family: EyeSite102;
}
[class="103"]
{
	font-family: EyeSite103;
}
[class="104"]
{
	font-family: EyeSite104;
}
[class="105"]
{
	font-family: EyeSite105;
}
[class="106"]
{
	font-family: EyeSite106;
}
[class="201"]
{
	font-family: EyeSite201;
}
[class="202"]
{
	font-family: EyeSite202;
}
[class="203"]
{
	font-family: EyeSite203;
}
[class="204"]
{
	font-family: EyeSite204;
}
[class="205"]
{
	font-family: EyeSite205;
}
[class="206"]
{
	font-family: EyeSite206;
}
[class="301"]
{
	font-family: EyeSite301;
}
[class="302"]
{
	font-family: EyeSite302;
}
[class="303"]
{
	font-family: EyeSite303;
}
[class="304"]
{
	font-family: EyeSite304;
}
[class="305"]
{
	font-family: EyeSite305;
}
[class="306"]
{
	font-family: EyeSite306;
}
[class="401"]
{
	font-family: EyeSite401;
}
[class="402"]
{
	font-family: EyeSite402;
}
[class="403"]
{
	font-family: EyeSite403;
}
[class="404"]
{
	font-family: EyeSite404;
}
[class="405"]
{
	font-family: EyeSite405;
}
[class="406"]
{
	font-family: EyeSite406;
}
[class="501"]
{
	font-family: EyeSite501;
}
[class="502"]
{
	font-family: EyeSite502;
}
[class="503"]
{
	font-family: EyeSite503;
}
[class="504"]
{
	font-family: EyeSite504;
}
[class="505"]
{
	font-family: EyeSite505;
}
[class="506"]
{
	font-family: EyeSite506;
}
[class="601"]
{
	font-family: EyeSite601;
}
[class="602"]
{
	font-family: EyeSite602;
}
[class="603"]
{
	font-family: EyeSite603;
}
[class="604"]
{
	font-family: EyeSite604;
}
[class="605"]
{
	font-family: EyeSite605;
}
[class="606"]
{
	font-family: EyeSite606;
}
[class="701"]
{
	font-family: EyeSite701;
}
[class="702"]
{
	font-family: EyeSite702;
}
[class="703"]
{
	font-family: EyeSite703;
}
[class="704"]
{
	font-family: EyeSite704;
}
[class="705"]
{
	font-family: EyeSite705;
}
[class="706"]
{
	font-family: EyeSite706;
}
[class="801"]
{
	font-family: EyeSite801;
}
[class="802"]
{
	font-family: EyeSite802;
}
[class="803"]
{
	font-family: EyeSite803;
}
[class="804"]
{
	font-family: EyeSite804;
}
[class="805"]
{
	font-family: EyeSite805;
}
[class="806"]
{
	font-family: EyeSite806;
}
[class="901"]
}
	font-family: EyeSite901;
}
[class="902"]
{
	font-family: EyeSite902;
}
[class="903"]
{
	font-family: EyeSite903;
}
[class="904"]
{
	font-family: EyeSite904;
}
[class="905"]
{
	font-family: EyeSite905;
}
[class="906"]
{
	font-family: EyeSite906;
}
[class="1001"]
{
	font-family: EyeSite1001;
}
[class="1002"]
}
	font-family: EyeSite1002;
}
[class="1003"]
{
	font-family: EyeSite1003;
}
[class="1004"]
{
	font-family: EyeSite1004;
}
[class="1005"]
{
	font-family: EyeSite1005;
}
[class="1006"]
{
	font-family: EyeSite1006;
}